main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

h1 {
  grid-column: 4 / 8;
  z-index: 10;
  margin: auto;
  color: rgb(0, 187, 0);
  font-family: "Courier New", Courier, monospace;
  font-size: 200px;
}

article {
  grid-column: 2 / span 2;
  top: 2000px;
  z-index: 10;
  color: red;
  font-size: 50px;
}